body{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.card{
    width: 400px;
    background: white;
    box-shadow: 0px 0px 10px 4px #3333331a;
    border-radius: 1%;
    overflow: hidden;
}

img{
    max-width: 100%;
}
#search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.input-bar{
    background-color: #eee;
    border: none;
    border-radius: 0.1em;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1.2rem;
}
#search-btn{
    border: none;
    background-color: transparent;
    color: rgb(136, 130, 130);
    font-size: 1.5rem;
    margin-left: 10px;

}
.fav-container{
    padding: 0.25rem 1rem;
    text-align: center;
    background-color: rgba(250, 213, 255, 0.274);
}
.fav-meals{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.fav-meals li{
    margin: 5px;
    width: 75px;
    position: relative;
}
.fav-meals .clear{
    border: none;
    background-color: transparent;
    color: black;
    position: absolute;
    opacity: 0;
    top: -0.4rem;
    right: -0.4rem;
    transform: scale(1.3);
    cursor: pointer;
}
.fav-meals li:hover .clear{
    opacity: 1;
}
.fav-meals li span{
    display: inline-block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}
.fav-meals li img{
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 10px 4px #3333331a;
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
}
.fav-meals li span{
    font-size: 0.8rem;
}

.meal{
border-radius: 10px;
box-shadow: 0px 0px 10px 4px #3333331a;
margin: 1.5rem;
overflow: hidden;
}
.meal-header{
    position: relative;
}
.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.meal-header img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    cursor: pointer;
}
.meal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem;

}
.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn{
    border: none;
    background-color: transparent;
    color: rgb(218, 218, 218);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.meal-body .fav-btn.active{
    color: rgb(255, 65, 65);
    transform: scale(1.2);
}


.popup-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    
}
.popup-container.hidden{
    opacity: 0;
    pointer-events: none;
}
.popup{
    position: relative;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
    margin: 10px;
    max-height: 1000px;
    
    
    background-color: white;
}
.meal-info h1{
    text-align: center;
    font-family: inherit;
}

.popup .close-popup{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}